<div class="bg">
    <!-- <a class="text-dark m-4" routerLink="/home" title="back">
        <svg class="bi bi-arrow-left-circle" width="3em" height="3em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
            <path fill-rule="evenodd" d="M8.354 11.354a.5.5 0 0 0 0-.708L5.707 8l2.647-2.646a.5.5 0 1 0-.708-.708l-3 3a.5.5 0 0 0 0 .708l3 3a.5.5 0 0 0 .708 0z"/>
            <path fill-rule="evenodd" d="M11.5 8a.5.5 0 0 0-.5-.5H6a.5.5 0 0 0 0 1h5a.5.5 0 0 0 .5-.5z"/>
        </svg>
    </a> -->
    <div class="container-xl m-0">
        <div class="row">
            <div class="col-md-7">
                <!-- <app-canvas [formatName]="formatName" [text1]="text1"></app-canvas> -->
                <canvas class="border-dark" id="canvas" height="440px" width="600px"></canvas>
            </div>
            <div class="col-md-5 text-light">
                <h4>Guidelines</h4>
                <ul>
                    <li>Drag to move textbox</li>
                    <li>Double click on textbox to edit text</li>
                    <li>Resize textbox to cahnge font size</li>
                    <li>You can rotate the textboxes</li>
                    <li>Leave a textbox empty if not required</li>
                </ul>
                <div class="d-flex justify-content-center" *ngIf="formatFields == undefined">
                    <div class="spinner-grow" style="width: 3rem; height: 3rem;" role="status"></div>
                    <strong>Loading Components</strong>   
                </div>
                
                <div *ngIf="formatFields != undefined">
                    <form *ngFor="let tb of coords; let i = index" #updateForm="ngForm" (change)="updateCanvas(updateForm)">
                        <fieldset class="border mt-3">
                            <legend >Textbox {{i+1}}</legend>
                            <input type="number" name="id" [ngModel]='id[i]' hidden>
                            <label class="ml-3" for="fill">Fill color:</label>      <!--  value="{{this.coords[i].color}}" -->
                            <input ngModel type="color" name="tb_fill">
                            <label class="ml-3" for="stroke">Stroke color:</label>
                            <input ngModel type="color" name="tb_stroke">
                            <label class="ml-3" for="stroke">Stroke width:</label>
                            <input ngModel type="range" name="tb_strokewidth" min="0" max="3" step="0.2">
                            <label class="ml-3" for="style">Font style:</label>
                            <select ngModel name="style">
                                <option value="Arial">Arial</option>
                                <option value="Times New Roman">Times New Roman</option>
                                <option value="Comic Sans MS">Comic Sans MS</option>
                                <option value="Algerian">Algerian</option>
                            </select>
                        </fieldset>
                    </form>
                </div>
            </div>
            <!-- <div class="col-md-1">
                <div class="w-100">
                    <button class="btn btn-secondary">Add TextBox to canvas</button>
                </div>
            </div> -->
        </div>
    </div>
</div>