<div>
    <!-- <a class="text-dark m-4" routerLink="/home" title="back">
        <svg class="bi bi-arrow-left-circle" width="3em" height="3em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
            <path fill-rule="evenodd" d="M8.354 11.354a.5.5 0 0 0 0-.708L5.707 8l2.647-2.646a.5.5 0 1 0-.708-.708l-3 3a.5.5 0 0 0 0 .708l3 3a.5.5 0 0 0 .708 0z"/>
            <path fill-rule="evenodd" d="M11.5 8a.5.5 0 0 0-.5-.5H6a.5.5 0 0 0 0 1h5a.5.5 0 0 0 .5-.5z"/>
        </svg>
    </a> -->
    <div class="container-xl m-0">
        <div class="row">
            <div class="col-md-7">
                <div class="text-center m-3">
                    <button (click)="saveMeme()" class="btn btn-outline-light">Save Meme</button>
                </div>
                <canvas class="border-dark" id="canvas" height="440px" width="600px"></canvas>
            </div>
            <div class="col-md-5 text-dark resp">
                <h4 class="resp">Guidelines</h4>
                <ul>
                    <li>Drag to move textbox</li>
                    <li>Double click on textbox to edit text</li>
                    <li>Resize textbox to change font size</li>
                    <li>You can rotate the textboxes</li>
                    <li>Leave a textbox empty if not required</li>
                    <li>Zoom out for better view in small screens</li>
                </ul>
                <div class="d-flex justify-content-center" *ngIf="formatFields == undefined">
                    <div class="spinner-grow" style="width: 3rem; height: 3rem;" role="status"></div>
                    <strong>Loading Components</strong>   
                </div>
                
                <div *ngIf="formatFields != undefined">
                    <div class="w-100">
                        <button class="btn btn-dark" (click)="addTextbox()">Add TextBox</button>
                        <!-- <button class="btn btn-dark" (click)="addSticker()">Add Sticker</button> -->
                    </div>
                    <form *ngFor="let tb of textboxes; let i = index" #updateForm="ngForm" (change)="updateCanvas(updateForm)">
                        <fieldset class="border border-dark mt-3">
                            <legend >Textbox {{i+1}}</legend>
                            <input type="number" name="id" [ngModel]='id[i]' hidden>
                            <label class="ml-3" for="fill">Fill color:</label>      <!--  value="{{this.coords[i].color}}" -->
                            <input ngModel type="color" name="tb_fill"><br>
                            <label class="ml-3" for="stroke">Stroke color:</label>
                            <input ngModel type="color" name="tb_stroke"><br>
                            <label class="ml-3" for="stroke">Stroke width:</label>
                            <input ngModel type="range" name="tb_strokewidth" min="0" max="3" step="0.2"><br>
                            <label class="ml-3" for="style">Font style:</label>
                            <select [(ngModel)]="defaultStyle" name="style">
                                <option value="Arial">Arial</option>
                                <option value="Times New Roman">Times New Roman</option>
                                <option value="Comic Sans MS">Comic Sans MS</option>
                                <option value="Algerian">Algerian</option>
                            </select>
                        </fieldset>
                    </form>
                    <!-- <div class="view-btn btn btn-outline-dark rounded-circle">
                        <svg class="bi bi-eye" width="2em" height="2em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.134 13.134 0 0 0 1.66 2.043C4.12 11.332 5.88 12.5 8 12.5c2.12 0 3.879-1.168 5.168-2.457A13.134 13.134 0 0 0 14.828 8a13.133 13.133 0 0 0-1.66-2.043C11.879 4.668 10.119 3.5 8 3.5c-2.12 0-3.879 1.168-5.168 2.457A13.133 13.133 0 0 0 1.172 8z"/>
                            <path fill-rule="evenodd" d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z"/>
                        </svg>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</div>