.thumbnail {
    width: auto;
    height: 150px;
}
.img-thumbnail{
    height: 200px;
}

.flex-box{
    width: 80%;
    display: inline-flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
    scroll-behavior: smooth;
}
#forScroll::-webkit-scrollbar{
    display: none;
}

.upload-div{
    display: inline;
    margin-left: 1.5em;
}

.footer {
    display: block;
    background-color: white;
    position: relative;
    bottom: 0;
    font-size: 1.5em;
    font-weight: 400;
}

@media (max-width: 770px) {
    .bg {
        background-size: cover;
    }
    .btn#prev, .btn#next {
        display: none;
    }
    .flex-box {
        width: 90%;
    }
    h1.display-3 {
        font-size: 3em;
    }
    h2.display-4 {
        font-size: 2em;
    }
    .upload-div{
        display: block;
        margin: 1em auto;
    }
}